/node_modules
/public/hot
/public/storage
/storage
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.htaccess
/nbproject
phpcs.xml
/.svn
/public/attachments
/public/mergePdf
/public/printlabelPdf
/public/splitPdf
public/printlabel
/public/img
/config
/public/cmpdlabelPrint
/public/js/doubleclickevent.js
/public/pmp/TX
/public/archive/TX                             